@import '../../styles/index.scss';

.form-container {
    display: flex;
    color: white;
    user-select: none;
    border: 2px solid white;
    background-color: #473bf0;
    flex-direction: column;
    padding: 10px;

    @include media (tablet) {
        margin: 10px auto;
        width: 70%;
        padding: 10px;
        flex-direction: column;
        border-radius: 10px;
    }
    @include media (desktop) {
        margin: 10px auto;
        width: 30%;
        padding: 50px 25px 0 25px;
        flex-direction: column;
    }
    
    .container-label-input {
        display: flex;
        margin: 5px;
        align-items: center;
        flex-direction: column;
        @include media (tablet) {
            margin: 6px 100px;
            padding: 10px;
            flex-direction: row;
        }
        
        .error {
            margin: 5px;
            color: red;
            padding: 10px;
            border-radius: 5px;
            font-weight: 500;
            width: 400px;
        }
    }

    label {        
        background-color: #6665dd;
        color: white;
        padding: 5px;
        text-align: center; 
        border: 2px solid white;
        border-radius: 5px;
        margin: 5px;
        @include media (desktop) {
            width: 175px;
            margin: 5px auto;
        }
    }

    input {
        outline: none;
        background-color:#acadbc;
        color: white;
        border: 2px solid white;
        padding: 10px;
        @include media (desktop) {
            padding: 15px;
            width: 300px;
            margin: 5px;
        }
        
        &::placeholder {
            color:white;
        }
        &:focus {
            color: white;
            border: 2px solid black;
        }
    }

    .pago-container {
        display: flex;
        justify-content: center;
    
        @include media (desktop) {
            margin: 20px;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
        }
        
        span {
            border-radius: 5px;
            padding: 5px;
            @include media (desktop) {
                padding: 5px;
            }
        }

        i{
            @include media (desktop) {
                padding: 10px;
                font-size: 25px;
            }
        }

        input {
            margin: 10px;
            @include media (desktop) {
                cursor: pointer;
                width: 10px;
            }
        }

        .pago1-container {
            display: flex;
            background-color: #6665dd;
            border: 2px solid white;
            flex-direction: column;
            align-items: center;
            margin: 5px;
            width: 120px;
            padding: 10px;
            &:hover {
                background-color: green;
            }
            @include media (desktop) {
                flex-direction: column;
                align-items: center;
                padding: 10px;
                width: 100px;
                margin: 0 5px;
                border-radius: 10px;
            }
        }

        .pago2-container {
            display: flex;
            background-color: #6665dd;
            border: 2px solid white;
            flex-direction: column;
            align-items: center;
            margin: 5px;
            width: 120px;
            padding: 10px;
            &:hover {
                background-color: blue;
            }

            @include media (desktop) {
                flex-direction: column;
                align-items: center;
                border-radius: 10px;
                padding: 10px;
                width: 100px;
                margin: 0 5px;
            }
        }
    }

    .button-cont {
        text-align: center;
        input {
            width: 100px;
            margin: 10px;
        }
        @include media (desktop) {
            text-align: center;
            padding: 10px;
            margin-bottom: 30px;
        
            input {
                background-color: #9b9ece;
                color: white;
                cursor: pointer;
                border: none;
                
                &:hover {
                    background-color: green;
                    color: white;
                }
            }
        }
    }
}