.cartContainer-sin-elementos {
    margin: 80px auto;
}

.lista-de-productos-container {
    margin: 0 auto;
    h2 {
        margin: 0 auto;
    }
}

.table {
    margin: 0 auto;
    border: 3px solid white;
    padding: 10px;
    text-align: center;
    width: 50%;
    margin: 20px auto;
    background-color: #473bf0;
    border-radius: 20px;

    .head-table {
        th {
            color: white;
            background-color: #acadbc;
            padding: 5px;
        }
    }

    .body-table {
        color: white;
        background-color: #473bf0;
        
        td:first-child {
          border-right: 1px solid white;
          border-left: 2px solid white;  
        }
        
        td:nth-child(2) {
            background-color: #473bf0;
        }

        td:nth-child(3) {
            background-color: #6665dd;
        }
    }

    .footer-table {
        td {
            background-color: #acadbc;
            color: white;
            font-weight: 500;
            padding: 5px;
        }
    }
}

.buttons-cart {
    margin-top: 20px;
    text-align: center;

    .button-eliminar-todo {
        background-color: #473bf0;
        border-radius: 10px;
        border: none;
        color: white;
        cursor: pointer;
        font-size: 15px;
        margin: auto;
        outline: none;
        padding: 20px;
        transition: 0.3s;
        margin: 10px;
        &:hover {
            background-color: red;
        }
    }

    a.button {
        background-color: #473bf0;
        padding: 20px;
        font-size: 15px;
        &:hover {
            background-color: green;
            color: white;
            border: none;
        }
    }
}

h2 {
    text-align: center;
    padding: 10px;
}
