.list-navbar {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #473bf0;
    position: fixed;
    width: 100%;
    top: 0;
    
    >li {
        margin: 0 10px;
        padding: 10px;
        
        >a {
            color: white;
            text-decoration: none;
            font-size: 1.2rem;
            padding: 10px;
            border-radius: 5px;
            &:hover {
                background-color: #6665dd;
                color: white;
                border: none;
            }
        }

        >i {
            color: white;
        }
    }

    .cart-reditect {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5%;
        margin: 10px;
        text-decoration: none;
        padding: 10px;
        border-radius: 5px;

        >i, p {
            color: white;
        }

        >p {
            margin-left: 10px;
        }

        &:hover {
            background-color: #6665dd;
            border: none;
            i, p {
                color: white;
            }
        }
    }
}