@import '../../styles/index.scss';

.count {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;

    @include media (tablet) {
        align-items: center;
        flex-direction: column;
        margin: 0 0 20px 0;
    }

    @include media (desktop) {
        align-items: center;
        flex-direction: column;
        margin: 20px auto;
    }
    
    .buttonsCount-Container{
        display: flex;
        background-color:#473bf0;
        align-items: center;
        border-radius: 25px;
        justify-content: space-evenly;
        width: 150px;
        padding: 5px;
        @include media (tablet) {
            align-items: center;
            border-radius: 25px;
            width: 130px;
            justify-content: space-evenly;
        }

        @include media (desktop) {
            align-items: center;
            border-radius: 25px;
            width: 140px;
            justify-content: space-evenly;
        }
        
        button {
            color: white;
            text-align: center;
            border: none;
            background-color:#473bf0;
            
            @include media (tablet) {
                width: 20px;
                height: 40px;
            }

            @include media (desktop) {
                cursor: pointer;
                width: 20px;
                height: 40px;
            }
        }

        h2 {
            color: white;
        }
    }
        
    .buttonAdd {
        color: white;
        border: none;
        background-color:#473bf0;
        padding: 20px;
        margin-top: 10px;
        border-radius: 7px;
        width: 150px;
        @include media (tablet) {
            width: 150px;
            padding: 20px;
            margin-top: 10px;
        }

        @include media (desktop) {
            width: 150px;
            padding: 20px;
            margin-top: 10px;
            cursor: pointer;
            &:hover {
                background-color: #6665dd;
                color: white;
                border: none;
            }
        }
    }
}