.element {
    border-radius: 5px;
    border: 2px solid #0f1a20;
    box-sizing: border-box;
    width: calc((100% / 3) - 20px);
    padding: 20px;
    margin: 10px 0;
    background-color: #0f1a20;

    .image {
        margin: 10px;
    
        >img {
            border-radius: 5px;
        }
    }

    .name {
        margin: 0 auto;
        color: #e2856e;
    }

    .price {
        margin: 10px auto;
        color: #e2856e;
    }

    a.button {
        background-color: #e2856e;
        &:hover {
            background-color: #f42c04;
            color: white;
            border: none;
        }
    }
}