.element {
    border-radius: 5px;
    box-sizing: border-box;
    width: calc((100% / 3) - 20px);
    padding: 20px;
    margin: 10px 0;
    background-color: #473bf0;

    .image {
        margin: 10px;
    
        >img {
            border-radius: 5px;
        }
    }

    .name {
        margin: 0 auto;
        color: white;
    }

    .price {
        margin: 10px auto;
        color: white;
    }

    a.button {
        background-color: #6665dd;
        &:hover {
            background-color: black;
            color: white;
            border: none;
        }
    }
}