@import '../../styles/index.scss';

.container-home {
    
    .title {

        @include media (desktop) {
            text-align: center;
            color: black;
            width: 275px;
            margin: 0 auto;
            border-radius: 10px;
        }
        
    }
}


