@import '../../../styles/general.scss';


.elementSelect {
    display: flex;
    margin: 100px auto;
    flex-direction: column;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
    width: 40%;
    background-color: #473bf0;
    border-radius: 10px;
    
    .image {
        padding: 10px;
        border-radius: 10px;
        margin: 30px 0 0 0;
        
        img {
            height: 500px;
            border-radius: 10px;
        }
    }


    .contenedor-data {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h2, p, h3 {
            margin: 10px 0;
            color: white;
        }

        >h2 {
            color: white;
            padding: 10px;
            border-radius: 10px;
            width: 50%;
            background-color: black;
            
        }

        >p {
            font-size: 20px;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            padding: 15px;
            border-radius: 10px;
        }

        >h3 {
            font-size: 40px;
            padding: 15px;
        }
    }
}

.buttons {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 55px;
    
    .contain-button {
        margin: 15px 0;
    }

    .button {
        background-color: #473bf0;
        &:hover {
            background-color: #6665dd;
            color: white;
            border: none;
        }
    }
}